<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Character Generator</title>
</head>
<body style="background-color:rgb(92, 255, 71)";>
    <div>
        <h1 style="color:rgb(0, 58, 128); text-align: center; text-decoration: underline">Character Generator</h1>
    </div>
    <div>
        <h2 style="color: rgb(2, 0, 128); text-align: center"> Today your fantasy role is {{ race }} Race from the {{ claas }} Class, and your Weapon today will be {{ weapon }}.</h2>
        
    </div>
    
</body>
</html>