{% extends 'layout.html' %}
{% block body %}
<h2> Home </h2>
<br>
    <div>
        <h2 style="color: rgb(2, 0, 128); text-align: center"> Today your fantasy role is {{ race }} Race from the {{ claas }} Class and your Weapon today will be {{ weapon }}.</h2>
        
    </div>
<h3> Last 5 Characters: </h3>
<br>
{% for characters in past5 %}
<br>
<h2 style="color: rgb(2, 0, 128); text-align: center"> Your fantasy role was {{ race }} Race from the {{ claas }} Class and you fought with{{ weapon }}.</h2>
    
<br>
{% endfor %}
{% endblock body %}